@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .border-gradient {
      background: linear-gradient(45deg, #2e10f2, #4cbbb9);
      background-size: 300% 300%; 
      animation: gradient-rotate 5s ease infinite;
    }
    
    .border-gradient-inverted {
        background: linear-gradient(45deg, #4cbbb9, #2e10f2);
        background-size: 300% 300%; 
        animation: gradient-rotate 5s linear infinite;
      }

    @keyframes gradient-rotate {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
  
  